@import "~assets/less/variable.less";

.s-button {
  display: inline-block;
  min-width: 40px;
  height: 30px;
  padding: 0 8px;
  line-height: 30px;
  color: @colorBlue;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  .iconfont {
    margin-right: 5px;
  }
}