{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "Explorer >= 10", "Android >= 4.0", "ios >= 6"]
        },
        "useBuiltIns": "usage",
        "debug": false,
        "corejs": 3 // 需要安装 yarn add core-js@3.6.4 -D
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {}]
  ]
}
