{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead",
        "corejs": "3.1.3",
        "modules": false,
        "debug": false,
        "useBuiltIns": "usage" // usage 按需 polyfill
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
  ]
}
